<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a routerLink="" title="On Emergency" class="main-logo">
					<svg xmlns="http://www.w3.org/2000/svg" width="189" height="30" viewBox="0 0 189 30">
  <g id="Group_5" data-name="Group 5" transform="translate(-416 -78)">
    <g id="Group_4" data-name="Group 4" transform="translate(416 81.302)">
      <path id="Subtraction_7" data-name="Subtraction 7" d="M12.5,25a12.6,12.6,0,0,1-2.519-.254,12.435,12.435,0,0,1-4.47-1.881,12.538,12.538,0,0,1-4.529-5.5,12.438,12.438,0,0,1-.728-2.346A12.592,12.592,0,0,1,0,12.5H3.125a9.331,9.331,0,0,0,1.6,5.242,9.4,9.4,0,0,0,4.125,3.4,9.363,9.363,0,0,0,8.891-.864,9.4,9.4,0,0,0,3.4-4.125,9.363,9.363,0,0,0-.864-8.891,9.4,9.4,0,0,0-4.125-3.4A9.315,9.315,0,0,0,12.5,3.125V0a12.6,12.6,0,0,1,2.519.254,12.435,12.435,0,0,1,4.47,1.881,12.536,12.536,0,0,1,4.529,5.5,12.438,12.438,0,0,1,.728,2.346,12.619,12.619,0,0,1,0,5.038,12.432,12.432,0,0,1-1.881,4.47,12.536,12.536,0,0,1-5.5,4.529,12.43,12.43,0,0,1-2.346.728A12.6,12.6,0,0,1,12.5,25Z" transform="translate(25 -0.302) rotate(90)" fill="#f2191a"/>
      <path id="Rectangle_12" data-name="Rectangle 12" d="M2,0H3A0,0,0,0,1,3,0V12a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V2A2,2,0,0,1,2,0Z" transform="translate(11 -0.302)" fill="#f2191a"/>
    </g>
    <text id="On_Emergency" data-name="On Emergency" transform="translate(449 102)" fill="#f2191a" font-size="23" font-family="Futura-Medium, Futura" font-weight="500"><tspan x="0" y="0">On Emergency</tspan></text>
  </g>
</svg>
				</a>
			</div>
			<div class="col-md-6">
				<div class="navbar navbar-expand-md navbar-light float-right">
					<div class="text-center d-md-none w-100">
						<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
							<i class="icon-unfold mr-2"></i>
							Navigation
						</button>
					</div>
					<div class="navbar-collapse collapse" id="navbar-navigation">
						<ul class="navbar-nav navbar-nav-highlight">
							<li class="nav-item">
								<a routerLink="/contact" routerLinkActive="active"  title="Contact">Contact</a>
							</li>
							<li class="nav-item">
								<a routerLink="/about" routerLinkActive="active" title="About">About</a>
							</li>
							<li class="nav-item" *ngIf="!authService.isLoggedIn()">
								<a routerLink="/signin" routerLinkActive="active" title="Sign in">Sign in</a>
							</li>
							<li class="nav-item" *ngIf="!authService.isLoggedIn()">
								<a routerLink="/signup" routerLinkActive="active" title="Sign up">Sign up</a>
							</li>
							<li class="nav-item"  *ngIf="authService.isLoggedIn()">
								<a routerLink="/device" routerLinkActive="active" title="Device">Device</a>
							</li>
							<li class="nav-item" *ngIf="authService.isLoggedIn()">
								<a routerLink="/location" routerLinkActive="active" title="Location">Location</a>
							</li>
							<li class="nav-item" *ngIf="authService.isLoggedIn()">
								<a (click)="logout()" title="Location">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

